*
!requirements.txt
!*/
!*.py
!validation-tool/*
validation-tool/codebases/*
validation-tool/output/*
!defaults/**
!*.md
!*.gitkeep
!*templates/index.html
!*templates/terminal.html
!*.js
!*.css
config/user_settings.json
